* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;

}

body {
    background-color: var(--light-blue-100);
}

.w-100 {
    width: 100%;
}

.btn {
    border-radius: 1.5rem;
    width: 100%;
    border: 1px solid var(--dark-blue-300);
    height: 4rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.btn.btn-blue {
    background-color: var(--dark-blue-400);
    color: white;
}

.btn-blue:hover {
    background-color: var(--dark-blue-300);
}

.btn.btn-light {
    background-color: rgba(255, 255, 255, 0);
    color: var(--dark-blue-300);
}

.btn-light:hover {
    background-color: var(--light-blue-200);
}



nav {
    height: 6rem;
    display: flex;
}

.logo {
    display: block;
    margin: auto auto auto 1rem;
}

main {
    padding: 1rem;
}

#input-section {
    margin: 2rem 0;
}

textarea {
    background-color: var(--light-blue-100);
    border: none;
    resize: none;
    /* overflow:visible */
}

#output-section {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 0.5rem;
    text-align: center;
}

#output-section h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--gray-500);
    font-family: 'Inter';
}